body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, input[type="submit"] {
    background-color:  #1566fd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

#prof, #salle, #classe, #EDT {
    flex: 1;
    max-width: 400px;
}
.form-container{
    display: none;
}
#menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #1566fd;
    padding-top: 20px;
}

#menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

#menu a:hover {
    background-color: #4caf50;
}